body{
    background-color:tan;
}

h1{
    font-family:georgia;
    font-size:30px;
}

p{
    font-family:"Times New Roman", times;
}
table, th, td{
    border-width:2px;
    border-color:black;
    border-style:solid;
    padding:2px;
}
img{
    height:200px;
}
